
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href="/option/Form/FormEditor">创建表单模板</a>
        <a>创建实例表单</a>
        <a>列出所有实例表单</a>
    </div>
</body>
</html>
